/* Общие стили для всех input */
input {
    box-sizing: border-box;
    width: auto;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

/* Стиль для текстового поля */
input[type="text"] {
    width: auto;
}

/* Стиль для пароля */
input[type="password"] {
    letter-spacing: 2px;
}

/* Стиль для числового поля */
input[type="number"] {
    width: auto;
}

/* Стиль для даты */
input[type="date"] {
    width: auto;
}

/* Общие стили для fieldset и legend */
fieldset {
    border: 2px solid #3498db;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

legend {
    font-size: 20px;
    color: #3498db;
}

/* Стили для радио и чекбоксов */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

/* Стиль для select */
select {
    box-sizing: border-box;
    width: auto;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

/* Стиль для изображения */
img {
    width: 70%;
    height: auto;
    display: block;
    margin: 10px auto;
}

/* Стиль для аудио */
audio {
    width: 100%;
    height: 50px;
    margin: 10px 0;
}
